<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Deep Voice Detection Service</title>
  <meta name="description" content="">
  <meta name="keywords" content="">

  <!-- Favicons -->
  <link href="/templates/assets/img/favicon.png" rel="icon">
  <!-- <link href="/templates/assets/img/apple-touch-icon.png" rel="apple-touch-icon"> -->

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/templates/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/templates/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/templates/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="/templates/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  <link href="/templates/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">

  <!-- Main CSS File -->
  <link href="/templates/assets/css/main.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Appland
  * Template URL: https://bootstrapmade.com/free-bootstrap-app-landing-page-template/
  * Updated: Aug 07 2024 with Bootstrap v5.3.3
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->

  <style>
  .container {
  position: relative;
  overflow: hidden; /* 이미지가 컨테이너 밖으로 넘치지 않도록 */
  }

  .background-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* object-fit: none; 
    object-position: top left;  */
    z-index: 0;
  }

  .content {
    position: relative; /* 콘텐츠가 이미지 위에 위치하도록 */
    z-index: 1;
  }

  @media (min-width: 992px) {
    #aboutHeader{font-weight: 900; font-size: 23px; color: #2d465e;}
  }

  @media (min-width: 535px) and (max-width: 992px) {
    #aboutHeader{font-weight: 900; font-size: 18px; color: #2d465e;}
  }

  @media (min-width: 767px) {
    #progressValues{padding-left: 100px;}
    #progressValues p{font-size: larger;}
    #progressValues .pHeader{font-weight: 900; font-size: 25px; }
  }
  

  @media (min-width: 535px) and (max-width: 767px) {
    #progressValues{padding-left: 0px;}
    #progressValues p{font-size:large}
    #progressValues .pHeader{font-weight: 900; font-size: 22px;}
    #aboutHeader{font-weight: 900; font-size: 18.5px; color: #2d465e;}
    #aboutMain{font-size: 14px;}
  }

  @media (min-width: 444px) and (max-width: 535px) {
    #progressValues{padding-left: 0px;}
    #progressValues p{font-size:15px}
    #progressValues .pHeader{font-weight: 900; font-size: 22px;}
    #aboutHeader{font-weight: 900; font-size: 16.5px; color: #2d465e;}
    #aboutMain{font-size: 12px;}
  }

  @media (max-width: 444px) {
    #progressValues{padding-left: 0px;}
    #progressValues p{font-size: 10.7px;}
    #progressValues .pHeader{font-weight: bolder; font-size: 17px; }
    #aboutHeader{font-weight: 900; font-size: 14px; color: #2d465e;}
    #aboutMain{font-size: 10.7px;}
  }

  </style>
</head>

<body class="index-page">

  <header id="header" class="header d-flex align-items-center sticky-top">
    <div class="container-fluid container-xl position-relative d-flex align-items-center">

      <a href="/" class="logo d-flex align-items-center me-auto">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="assets/img/logo.png" alt=""> -->
        <h1 class="sitename">Deep Voice Detection Service</h1>
      </a>

      <nav id="navmenu" class="navmenu" style="display: none;">
        <ul>
          <li><a href="#hero" class="active">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#features">Features</a></li>
          <li><a href="#gallery">Gallery</a></li>
          <li><a href="#pricing">Pricing</a></li>
          <li><a href="#faq">F.A.Q</a></li>
          <li class="dropdown"><a href="#"><span>Dropdown</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
            <ul>
              <li><a href="#">Dropdown 1</a></li>
              <li class="dropdown"><a href="#"><span>Deep Dropdown</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                <ul>
                  <li><a href="#">Deep Dropdown 1</a></li>
                  <li><a href="#">Deep Dropdown 2</a></li>
                  <li><a href="#">Deep Dropdown 3</a></li>
                  <li><a href="#">Deep Dropdown 4</a></li>
                  <li><a href="#">Deep Dropdown 5</a></li>
                </ul>
              </li>
              <li><a href="#">Dropdown 2</a></li>
              <li><a href="#">Dropdown 3</a></li>
              <li><a href="#">Dropdown 4</a></li>
            </ul>
          </li>
          <li><a href="#contact">Contact</a></li>
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>

      <a class="btn-getstarted" href="/input-page">Get Started</a>

    </div>
  </header>

  <main class="main">

    <!-- Hero Section -->
    <section id="hero" class="hero section">

      <div class="container">
        <div class="row gy-4">
          <div class="col-lg-7 order-lg-last hero-img" data-aos="zoom-out" data-aos-delay="100">
            <img src="/templates/assets/img/hero-img.png" class="img-fluid animated" alt="">
          </div>
          <div class="col-lg-5  d-flex flex-column justify-content-center text-center text-md-start" data-aos="fade-in">
            <h2>Deep Voice Detection&nbsp;Service</h2>
            <p>가짜 음성으로부터 당신의 재산을 보호하는 솔루션</p>
            <div class="d-flex mt-4 justify-content-center justify-content-md-start">
              <a href="/input-page" class="download-btn"><span>Play</span></a>
            </div>
          </div>
        </div>
      </div>

    </section><!-- /Hero Section -->

    <!-- About Section -->
    <section id="about" class="about section light-background">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up" style="padding-bottom: 30px;">
        <h2>About</h2>
        <p id="aboutHeader">본 서비스는 국립공주대학교 소프트웨어학과 캡스톤 작품으로 만들어짐을 알립니다.</p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-12 content" data-aos="fade-up" data-aos-delay="100" style="text-align: center;">
            <p id="aboutMain">
              서비스에 대한 결과 및 응용은 어디까지나 참고만 될 뿐 법적인 근거는 없음에 주의하시길 바랍니다. </br>
              자세한 내용을 알고 싶거나, 문의사항이 있으면 우리의 Git Hub를 이용해주세요.
            </p>
            <a href="https://github.com/brook12504/deepVoice-Detection-System" class="read-more"><span>Read More</span><i class="bi bi-arrow-right"></i></a>
          </div>

          <!-- <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
            <p>Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
            <a href="#" class="read-more"><span>Read More</span><i class="bi bi-arrow-right"></i></a>
          </div> -->

        </div>

      </div>

    </section><!-- /About Section -->

    <section id="features" class="features section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Progress</h2>
        <p>Deep Voice Detection Service의 진행 과정은 다음과 같습니다.</p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row gy-5">

          <div class="col-xl-5 d-flex align-items-center" data-aos="fade-up" data-aos-delay="100">
            <img src="templates/assets/img/features.svg" class="img-fluid" alt="">
          </div>

          <div class="col-xl-7 d-flex" data-aos="fade-up" data-aos-delay="200">

            <div class="row align-self-center gy-5" id="progressValues">

              <div class="col-md-12 icon-box">
                <i class="bi bi-1-square"></i>
                <div>
                  <p class="pHeader">데이터 입력</p>
                  <p>음성 데이터를 서버에 입력 후, AI모델에게 전송</p>
                </div>
              </div><!-- End Feature Item -->

              <div class="col-md-12 icon-box">
                <i class="bi bi-2-square"></i>
                <div>
                  <p class="pHeader">데이터 전처리 및 추출</p>
                  <p>FaceBook Svoice를 활용하여 음성 데이터를 추출</p>
                </div>
              </div><!-- End Feature Item -->

              <div class="col-md-12 icon-box">
                <i class="bi bi-3-square"></i>
                <div>
                  <p class="pHeader">음성 데이터 분석 후 출력</p>
                  <p>MFCC 연산 후 AI모델에서 데이터 분석 후 결과 값 출력</p>
                </div>
              </div><!-- End Feature Item -->

            </div>

          </div>

        </div>

      </div>

    </section><!-- /Features Section -->
  </main>

  <footer id="footer" class="footer" style="background-color: #f2f5fb;">

    <div class="footer-newsletter" style="display: none;">
      <div class="container">
        <div class="row justify-content-center text-center">
          <div class="col-lg-6">
            <h4>Join Our Newsletter</h4>
            <p>Subscribe to our newsletter and receive the latest news about our products and services!</p>
            <form action="forms/newsletter.php" method="post" class="php-email-form">
              <div class="newsletter-form"><input type="email" name="email"><input type="submit" value="Subscribe"></div>
              <div class="loading">Loading</div>
              <div class="error-message"></div>
              <div class="sent-message">Your subscription request has been sent. Thank you!</div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="container footer-top" style="padding-top: 20px;">
      <div class="row gy-4">
        <div class="col-lg-4 col-md-6 footer-about">
          <a href="/" class="d-flex align-items-center">
            <span class="sitename">Team 말벌</span>
          </a>
          <div class="footer-contact pt-3">
            <p><strong>국립공주대학교 </strong> 천안, NY 31080</p><p></p>
            <p class="mt-3"><strong>Phone:</strong> <span>+82 10-2849-8250</span></p>
            <p><strong>Email:</strong> <span>ckd5310@naver.com</span></p>
          </div>
        </div>

        <div class="col-lg-4 col-md-3 footer-links">
          <h4 style="padding-top: 10px;">Team Member</h4>
          <ul>
            <li style="padding-bottom: 0px;"><i class="bi bi-chevron-right"></i>Gwangun Yu (유광운)</li>
            <li style="padding-bottom: 0px;"><i class="bi bi-chevron-right"></i>Gilhan Choi (최길한)</li>
            <li style="padding-bottom: 0px;"><i class="bi bi-chevron-right"></i>Changbae Yang (양창배)</li>
          </ul>
        </div>


        <div class="col-lg-4 col-md-3 footer-links">
          <h4 style="padding-top: 10px;">Project Advisor</h4>
          <ul>
            <li style="padding-bottom: 0px;"><i class="bi bi-chevron-right"></i>Prof. Yonggang Kim (김용강), Ph.D.</li>
            <li style="padding-bottom: 0px;"><i class="bi bi-chevron-right"></i>Division of Computer Science and Engineering</li>
            <li style="padding-bottom: 0px;"><i class="bi bi-chevron-right"></i>Kongju National University</li>
          </ul>
        </div>

      </div>
    </div>

    <div class="container copyright text-center mt-4" style="display: none;">
      <p>© <span>Copyright</span> <strong class="px-1 sitename">Appland</strong> <span>All Rights Reserved</span></p>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you've purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: [buy-url] -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>

  </footer>

  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Preloader -->
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="/templates/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/templates/assets/vendor/php-email-form/validate.js"></script>
  <script src="/templates/assets/vendor/aos/aos.js"></script>
  <script src="/templates/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="/templates/assets/vendor/glightbox/js/glightbox.min.js"></script>

  <!-- Main JS File -->
  <script src="/templates/assets/js/main.js"></script>

</body>

</html>